.card-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 20px;
  z-index: -1;
  margin: 16px;
}
.card-img {
  height: fit-content;
  width: 280px;
}
.card-button-container {
  display: flex;
  justify-content: space-between;
}
