.card-container {
<<<<<<< Updated upstream:src/components/moleculs/card/style.css
  margin: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  border-radius: 8px;
=======
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
>>>>>>> Stashed changes:src/components/moleculs/card/index.css
}
.card-img {
  height: fit-content;
  width: 300px;
}
.card-button-container {
  display: flex;
  justify-content: space-between;
}
